@font-face {
    font-family: 'Geologica';
    src: url(Fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf) format(truetype);
}


* {
    font-family: 'Geologica';
}


header{
    background-color: white;
    padding: 10px 0;
    border: #BEA064 solid 5px;
}

.navbar{
    display: flex;
}

.menu-toggle{
    cursor: pointer;
    display: none;
}

.menu-toggle span{
    display: block;
    height: 3px;
    width: 25px;
    background-color: #BEA064;
    margin: 5px 0;
}

.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    padding: 15px;
    list-style-type: none;
}

.nav-list a{
    text-decoration: none;
    color: black;
    font-size: 160%;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #BEA064;
    min-width: 160px;
    max-width: 320px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.Titre{
    display: flex;
    
}

.logo-ecusson{
    display: grid;
    width: 10%;
    height: 20%;
    margin-top: 15px;
    margin: 15px; 

}
.icone-marseille{
    width: 80%;
    height: 90%;
}





@font-face {
    font-family: 'Agbalumo';
    src: url(Fonts/Agbalumo-Regular.ttf) format(truetype);
}


* {
    margin: 0;
}
.background {
    background-image: url(images/image-fond2.jpg);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -9999;
}




main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding: 20px 0 10px;
    justify-content: center;
    background-color:transparent;
    backdrop-filter: blur(30px);
    margin-top: 200px;
    border: 5px solid #BEA064;
    max-width: 60%;
    margin-left: 19%;
}




h1{
    text-align: center;
    position: absolute;
    left: 28%;
    top: 170px;
    font-family:'Geologica';
    font-size: 70px;


}












.cocon {
    display: flex;
    justify-content: space-around;
    flex-direction: column;


}


.section-content {
    display: flex;
    text-align: center;
    margin: 20px;
}


.section-content img {
    width: 100%;
    max-width: 400px;
    height: auto;
}


.image-and-text {
    display: flex;
}


.image-and-text img {
    width: 100%;
    max-width: 400px;
    height: auto;
}


.text-content {
    margin-left: 20px;
}


.text-content p {
    text-align: left;
}
